#Hi {
    background: linear-gradient(cyan 0%, pink 100%);
}

#SchoolS {
    text-align: center;
}

p {
    padding-left: 100px;
    padding-right: 10 0px;
}

img {
    border-radius: 300px;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.list {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px;
}

.list:hover {
    background-color: dodgerblue;
}

#lbl {
    font-family: 'Akaya Kanadaka', cursive;
}
 
li:last-child {
    border-right: none;
}